{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.collection == 'news' %}
      {% assign pre_clean = post.pre | to_s | strip %}
      {% assign post_clean = post.post | to_s | strip %}
      {% assign excerpt_clean = post.excerpt | to_s | strip %}
      {%- capture title_html -%}
        <span class="archive__item-title-inline">
          {%- if post.norender -%}
            <span class="archive__item-title--static">{{ title }}</span>
          {%- elsif title contains '<a ' -%}
            {{ title | replace: '<p>', '' | replace: '</p>', '' }}
          {%- elsif post.link -%}
            <a href="{{ post.link }}">{{ title }}</a>
            <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {%- else -%}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {%- endif -%}
        </span>
      {%- endcapture -%}
      {%- capture post_display -%}
        {{ post.post | markdownify | replace: '<p>', '' | replace: '</p>', '' | strip_newlines | strip }}
      {%- endcapture -%}
      {%- capture excerpt_display -%}
        {{ post.excerpt | markdownify | replace: '<p>', '' | replace: '</p>', '' | strip_newlines | strip }}
      {%- endcapture -%}
      {%- capture news_line -%}
        {%- if pre_clean != '' and title != '' and post_clean != '' and post_clean != '.' and excerpt_clean != '' -%}
          <span class="archive__item-pre">{{ pre_clean }}</span> {{ title_html | strip }} <span class="archive__item-post">{{ post_display | strip }}</span> &mdash; <span class="archive__item-inline-excerpt">{{ excerpt_display | strip }}</span>
        {%- elsif pre_clean != '' and title != '' and post_clean != '' and post_clean != '.' and excerpt_clean == '' -%}
          <span class="archive__item-pre">{{ pre_clean }}</span> {{ title_html | strip }} <span class="archive__item-post">{{ post_display | strip }}</span>
        {%- elsif pre_clean != '' and title != '' and post_clean == '.' and excerpt_clean == '' -%}
          <span class="archive__item-pre">{{ pre_clean }}</span> {{ title_html | strip }}<span class="archive__item-post">{{ post_clean }}</span>
        {%- else -%}
          {{ title_html | strip }}
        {%- endif -%}
      {%- endcapture -%}
      <p class="archive__news-inline" itemprop="headline">{{ news_line | strip }}</p>
    {% else %}
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.norender %}
          <span class="archive__item-title--static">{{ title }}</span>
        {% elsif post.link %}
          <a href="{{ post.link }}">{{ title }}</a>
          <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
    {% endif %}
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p>
            {{ post.type }}{% if post.venue %}, <i>{{ post.venue }}</i>{% endif %}{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
          </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'news' %}
        {% elsif post.date %}
          <p class="page__date"><strong>{{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.collection != 'news' %}
      {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
      {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
      {% endif %}
    {% endif %}

    {% if post.abstract %}
      <p>
        <a href="#" class="toggle-abstract toggle-section" data-collapsed-text="Show Abstract" data-expanded-text="Hide Abstract" aria-expanded="false" onclick="return toggleSection(this);">Show Abstract</a>
      </p>
      <div class="abstract-text" style="display: none;">
        <p>{{ post.abstract }}</p>
      </div>
    {% endif %}

    {% if post.teaching_desc %}
      <p>
        <a href="#" class="toggle-teaching-desc toggle-section" data-collapsed-text="Show Task Description & Topics Analyzed" data-expanded-text="Hide Task Description & Topics Analyzed" aria-expanded="false" onclick="return toggleSection(this);">Show Task Description & Topics Analyzed</a>
      </p>
      <div class="teaching-desc-text" style="display: none;">
        <p>{{ post.teaching_desc }}</p>
      </div>
    {% endif %}

    {% if post.postconf and post.collection != 'news' %}
      <p>
        <a href="#" class="toggle-postconf toggle-section" data-collapsed-text="Show Post-Conference Update" data-expanded-text="Hide Post-Conference Update" aria-expanded="false" onclick="return toggleSection(this);">Show Post-Conference Update</a>
      </p>
      <div class="postconf-text" style="display: none;">
        {{ post.postconf_text | markdownify }}
      </div>
    {% endif %}

    {% if post.syllabi %}
      <p><strong>Syllabus:</strong>
        {% for s in post.syllabi %}
          <a href="{{ s.url }}">{{ s.label }}</a>{% unless forloop.last %} | {% endunless %}
        {% endfor %}
      </p>
    {% endif %}

    {% if post.evaluations %}
      <p><strong>Evaluations:</strong>
        {% for e in post.evaluations %}
          <a href="{{ e.url }}">{{ e.label }}</a>{% unless forloop.last %} | {% endunless %}
        {% endfor %}
      </p>
    {% endif %}

    {% if post.paperurl or post.slidesurl or post.bibtexurl or post.twitterurl %}
      <p>
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}">Download Paper</a>{% if post.slidesurl or post.bibtexurl or post.twitterurl %} | {% endif %}
        {% endif %}

        {% if post.slidesurl %}
          <a href="{{ post.slidesurl }}">Download Slides</a>{% if post.bibtexurl or post.twitterurl %} | {% endif %}
        {% endif %}

        {% if post.bibtexurl %}
          <a href="{{ post.bibtexurl }}">Download Bibtex</a>{% if post.twitterurl %} | {% endif %}
        {% endif %}

        {% if post.twitterurl %}
          <a href="{{ post.twitterurl }}">Twitter Thread</a>
        {% endif %}
      </p>
    {% endif %}

  </article>
</div>

<script>
  function toggleSection(el) {
    const section = el.parentElement.nextElementSibling;
    const isVisible = section && section.style.display === "block";
    if (!section) return false;

    section.style.display = isVisible ? "none" : "block";
    const expandedText = el.dataset.expandedText;
    const collapsedText = el.dataset.collapsedText;

    if (expandedText && collapsedText) {
      el.textContent = isVisible ? collapsedText : expandedText;
    }

    el.setAttribute("aria-expanded", isVisible ? "false" : "true");
    return false;
  }
</script>


