<p>Debug: Authors Partial</p>
{{ range .Params.authors }}
  <p>Author: {{ . }}</p>
  {{ $author := site.GetPage (printf "authors/%s" .) }}
  {{ if $author }}
    <p>Found Author: {{ $author.Params.name }}</p>
    {{ if $author.Params.external_link }}
      <a href="{{ $author.Params.external_link }}">{{ $author.Params.name }}</a>
    {{ else }}
      {{ $author.Params.name }}
    {{ end }}
  {{ else if eq . "admin" }}
    <p>Admin Author: Lorenzo Maria Casale</p>
    Lorenzo Maria Casale
  {{ else }}
    <p>Unknown Author: {{ . }}</p>
    {{ . }}
  {{ end }}
{{ end }}